# 1. Introducción a Python y notebooks (Jupyter)

- Jupyter Notebook es una aplicación interactiva basada en web que permite crear y compartir documentos que contienen código en vivo, ecuaciones, visualizaciones y texto explicativo.
- Jupyter Notebook es ampliamente utilizado en el ámbito de la ciencia de datos, matemáticas, la investigación científica y la educación debido a su capacidad para combinar código ejecutable, resultados visuales y narrativa en un solo lugar.

- Python es un lenguaje de programación interpretado (no necesita compilación), de alto nivel y de propósito general. Es conocido por su amplia biblioteca estándar y su comunidad activa de desarrolladores. Se fomenta un estilo de programación limpio y fácil de entender.
- Python es un lenguaje de programación orientado a objetos. Esto significa que en Python todo es un objeto, incluidos los tipos de datos básicos como enteros y cadenas, así como las estructuras de datos más complejas como listas y diccionarios. Python permite la definición de clases y la creación de objetos basados en esas clases. Además, proporciona características de la programación orientada a objetos, como la encapsulación, la herencia y el polimorfismo. Sin embargo, Python también admite otros paradigmas de programación, como la programación procedural y funcional, lo que lo hace muy flexible y versátil.
- Debido a su facilidad de uso y al gran número de bibliotecas disponibles, es muy popular en diversos campos (data-science, machine learning, visualización de datos...).
- Al ser un lenguaje interpretado, es menos eficiente que lenguajes compilados como C, C++ o Fortran, pero es mucho más cómodo de usar. 
- La popularidad de Python implica que hay multitud de herramientas disponibles.

## 1.1. Sintaxis básica:
- No hay que declarar variables ni asignar tipos (se asignan de forma dinámica e implícita). 
- Comentarios: # 
- Ningún carácter necesario para cerrar líneas. 
- En Python, los tipos de variables más comunes incluyen:

    - Enteros (int): Representan números enteros sin decimales, como -3, 0, 42.
    - Flotantes (float): Representan números con decimales, como 3.14, -0.001, 2.0.
    - Cadenas de caracteres (str): Representan texto, como "hola", "Python", "123".
    - Booleanos (bool): Representan valores de verdad, True o False.
- Para cambiar el tipo de una variable en Python, puedes usar funciones incorporadas como int(), float(), str(), bool(), entre otras. Ejemplos: x = int(3.14)  (el resultado se truncará), x = str(123), x = bool(0), y = bool(42), z = bool("Hola") 
- La estructura básica de python es la lista.

Algunos ejemplos de variables:

In [1]:
a=5

In [3]:
b=2.5
b

2.5

In [4]:
c = "hola"
c

'hola'

La función print() nos permite obtener resultados por pantalla. Se pueden introducir varios argumentos separados por comas:

In [5]:
print(a,b)
print(a*1.0)
print('El valor de a+b es', a+b)

5 2.5
5.0
El valor de a+b es 7.5

Esto es una celda de texto

## 1.2. Números
- Puedes usar python como una calculadora con las operaciones usuales: +, -, *, /, ...
- Los números pueden ser enteros (int) o decimales (float)

In [6]:
2 + 2

4

In [7]:
50 - 5*6

20

In [10]:
print((50. - 5.*6.) / 4.)
1

5.0

1

La divisón siempre devuelve un número float:

In [11]:
17/3

5.666666666666667

Para utilizar la divisón entre enteros, utilizamos el operador //:

In [12]:
17 // 3

5

El resto se obtiene con %:

In [13]:
17 % 3

2

También podemos elevar a una potencia con **:

In [14]:
5**2

25

In [15]:
3**7

2187

In [16]:
2**2.5

5.656854249492381

### Ejercicio 1:
- Prueba a crear nuevas celdas en jupyter. Crea celdas de texto y de cálculo.
- Prueba algunas operaciones matemáticas básicas.

In [ ]:
print('Hoy es el día',31+22,'del año', 2024)

In [17]:
print('la raiz de 1322 es', 1322**0.5)

la raiz de 1322 es 36.359317925395686

In [18]:
n = 1322
raiz_n = n**0.5
print('la raiz de', n, 'es', raiz_n)

la raiz de 1322 es 36.359317925395686

## 1.3. Asignación de variables
- El signo igual (=) se utiliza para asignarle valores a la variables. 
- Si una variable no está definida, intentar utilizarla generará un error
- Para ver el valor de una variable utilizamos "print".
- Convencionalmente las letras "i,j,k,l,m" se utilizan para enteros, "x,y,z,w" para float. Sin embargo, en Python es estándar asignar nombres descriptivos a las variables (ej. "area" en lugar de "a").

In [19]:
width = 20
height = 5
area = width * height
print(area)

100

In [ ]:
pi = 3.14
r = 1
vol = 4*pi*r**2/3

Podemos incluir texto u otras variables en print:

In [ ]:
print('El área es:', area)

Python también soporta números y variables complejas. La unidad imaginaria se escribe como "1j":

In [21]:
print(1.2j)

1.2j

In [22]:
a = 2+3j
b = 1+1j
print('a=',a)
print(b)

a= (2+3j)
(1+1j)

In [23]:
print(a+b)

(3+4j)

### Ejercicio 2: 
- Calcula el área de una esfera de radio 3. Muestra el resultado por pantalla.

### Ejercicio 3:
- Define una variable RT cuyo valor sea el radio de la tierra. Calcula el perímetro, área y volumen de la tierra. Almacena los valores en tres variables, y saca el resultado por pantalla.


Hint: añade la línea 

*from math import pi*

para poder utilizar la constante pi.

In [26]:
# Ejercicio 2
from math import pi
print(pi)

radio = 3
area = pi*radio**2
print(area)

3.141592653589793
28.274333882308138

## 1.4. Comentarios
- Los comentarios se marcan con #
- Pueden estar en una línea independiente o después de código

In [27]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."
print(text)

# This is not a comment because it's inside quotes.

In [ ]:
# c1
# c2
# c3

In [28]:
"""
lalalala
"""

'\nlalalala\n'

In [1]:
"""
all this is a coment
also this
...
"""
print('Hemos escrito un comentario multi-línea. Son comunes en las descripciones de funciones.')

Hemos escrito un comentario multi-línea. Son comunes en las descripciones de funciones.

In [30]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### Ejercicio 4: 
- Incluye comentarios en el ejercicio 3.

## 1.5. Texto: Strings
- Python puede manipular texto con variables de tipo "strings".
- Para strings podemos usar tanto comillas simples ('...') como dobles ("...")

In [31]:
frase = "esto también"
print(frase)

esto también

Podemos introducir comillas dentro de un string con el carácter "escape": \\  y también combinando distintos tipos de comillas:

In [34]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [32]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [33]:
print(' "Yes," they said. ')

 "Yes," they said.

Ciertos caracteres nos permiten controlar el formato:

In [35]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), special characters are included in the string

'First line.\nSecond line.'

In [36]:
print(s)

First line.
Second line.

Si no quieres que los carácteres precedidos por \ se conviertan en comandos, puedes usar doble \:

In [ ]:
print('C:\some\name')  # here \n means newline!
print('C:\some\\name')  # here \\n means the string \n

Las strings pueden ocupar más de una línea. Esto se puede lograr con comillas triples: """...""" (muy usadas para describir funciones):

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

In [ ]:
"""hola
que tal"""

Podemos concatenar strings:

In [37]:
'un' + 'ium'

'unium'

In [38]:
'un' 'im'

'unim'

In [41]:
print('la casa es'+' verde')

la casa es verde

Dos o más strings que se encuentran uno al lado del otro se concatenan automáticamente. Esta característica es particularmente útil cuando deseas dividir cadenas largas.

In [44]:
text = ("Coloca varias cadenas dentro de paréntesis "
    "para unirlas.")
print(text)

Coloca varias cadenas dentro de paréntesis para unirlas.

In [47]:
'via' 'je'

'viaje'

Esto solo funciona con dos literales, no con variables o expresiones. Si deseas concatenar variables o una variable y un literal, utiliza el operador +:

In [45]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [48]:
prefix+'thon'

'Python'

Las cadenas pueden ser indexadas (subscritas), con el primer carácter teniendo el índice 0. No existe un tipo de dato separado para los caracteres; un carácter es simplemente una cadena de tamaño uno:

In [1]:
print(word[6])

NameError: name 'word' is not defined

Los índices también pueden ser números negativos, para empezar a contar desde la derecha. Ten en cuenta que dado que -0 es lo mismo que 0, los índices negativos comienzan desde -1.

In [2]:
word = 'Python'

In [3]:
print(word[6])

IndexError: string index out of range

In [5]:
print(word[0])

P

In [8]:
print(word[-1]) # último carácter

print(word[-2]) # penúltimo carácter

print(word[-6])

n
o
P

Además del indexado, también se admite el "slicing" (rebanado). Mientras que el indexado se utiliza para obtener caracteres individuales, el slicing te permite obtener una subcadena:

In [9]:
word[0:2] # caracteres desde la posición 0 (incluida) hasta la 2 (excluida)

'Py'

In [17]:
print(word)

Python

In [16]:
n_letras = 6
word[-2:0:-1]

'ohty'

In [18]:
word[2:5] # caracteres desde la posición 2 (incluida) hasta la 5 (excluida)

'tho'

In [21]:
word2 = '0123456'
print(word2[1:4]+word2[5:6])

1235

Los índices de slice tienen valores predeterminados útiles; un índice omitido por defecto es cero, y un índice omitido en segundo lugar es el tamaño de la cadena:

In [23]:
word2[:2] # carácter desde el principio hasta la posición 2 (excluida)

'01'

In [24]:
word2[4:7]

'456'

In [29]:
word2[4:] # caracteres desde la posición 4 (incluida) hasta el final

'456'

In [31]:
word2[-2:] # caracteres desde el penúltimo (incluido) hasta el final

'56'

Observa cómo el **inicio siempre está incluido y el final siempre está excluido**. Esto asegura que s[:i] + s[i:] siempre sea igual a s:

In [34]:
print(word2[:2+1]) 
print(word2[2:])

012
23456

Para índices no negativos, la longitud de un slice es la diferencia entre los índices, si ambos están dentro de los límites. Por ejemplo, la longitud de word[1:3] es 2.

**Intentar usar un índice que sea demasiado grande resultará en un error. Sin embargo, sí se pueden utilizar índices de slice fuera de rango:**

In [35]:
word[6]

IndexError: string index out of range

In [36]:
word[4:42]

'on'

In [37]:
word[42:]

''

Las cadenas de Python no pueden ser modificadas, son inmutables. Por lo tanto, asignar a una posición indexada en la cadena resulta en un error. Si necesitas una cadena diferente, debes crear una nueva:

In [38]:
word[0]='J'

TypeError: 'str' object does not support item assignment

In [40]:
word_new = 'J' + word[1:]
print(word_new)

Jython

La función integrada len() devuelve la longitud de una cadena:

In [41]:
s = 'supercalifragilisticoexpialidoso'
print(len(s))

32

In [47]:
n_letras = len(s)
print(s[0:n_letras//2])
print(s[:])
print(s)

supercalifragili
supercalifragilisticoexpialidoso
supercalifragilisticoexpialidoso

## f-strings

Las *f-strings* en Python permiten insertar variables y expresiones dentro de cadenas de texto de forma sencilla y clara. Se escriben anteponiendo una `f` a la cadena y usando llaves `{}` para incluir el contenido dinámico, por ejemplo:

In [53]:
# Opcion 1 :(((
area = 20/3
nombre1 = 'datos_area'+str(area)+'.txt'
print(nombre1)

datos_area6.666666666666667.txt

In [61]:
nombre1 = f'datos_area{area:.2f}.txt'
print(nombre1)

datos_area6.67.txt

In [ ]:
frase = f'el área es {area} m^2'
print(frase)
print(f'el área es {area} m^2')

### Ejercicio 5: Área de un círculo  
Escribe un programa que pida al usuario el radio de un círculo y calcule su área. Utiliza una *f-string* para mostrar el resultado con dos decimales.

In [67]:
radio = int(input('¿Cuál es el radio?'))
print(radio)

¿Cuál es el radio?3
3

In [70]:
radio = float(input('¿Cuál es el radio?\n'))

from math import pi
area = pi*radio**2
print(f'El área es {area:.3f}')

¿Cuál es el radio?
321
El área es 323712.849

### Ejercicio 6: Conversión de temperatura  
Escribe un programa que pida al usuario una temperatura en grados Celsius y la convierta a Fahrenheit. Muestra el resultado usando una *f-string* con un decimal.

### Funciones y Métodos para Strings

1. `print()` e `input()` son funciones incorporadas para interactuar con la entrada y salida estándar de un programa:
    1. `print(x)` muestra un mensaje por pantalla. Puede tomar uno o más argumentos separados por comas y los imprime en la consola, convirtiendo automáticamente los valores en strings si es necesario.
    2. `input(x)` se utiliza para obtener la entrada del usuario desde la consola. Muestra un mensaje opcional al usuario, espera a que ingrese datos y luego devuelve lo que el usuario escribe como una cadena de texto.    
2. En Python, un **método** es una función que pertenece a un objeto y puede realizar operaciones específicas en ese objeto.
3. En el caso de las cadenas de texto, los métodos realizan operaciones como dividirlas, eliminar espacios en blanco, contar caracteres, etc.
4. La sintaxis es:
    ```python
    cadena.metodo()
    ```
5. A veces los métodos requieren argumentos, otras no.

Éstos son algunos de los métodos más comunes para strings:

- `string.split(delimiter)`: Divide una cadena en subcadenas utilizando un separador específico. Si no se indica separador, utiliza el espacio como separador.
- `string.strip()`: Elimina los espacios en blanco u otros caracteres especificados del principio y final de una cadena.
- `string.count(x1)`: Cuenta el número de ocurrencias de una subcadena `x1` dentro de una cadena.
- `string.replace(x1, x2)`: Reemplaza todas las ocurrencias de una subcadena `x1` por otra especificada `x2`.
- `string.isupper()`: Devuelve `True` si todos los caracteres de la cadena son mayúsculas.
- `string.islower()`: Devuelve `True` si todos los caracteres de la cadena son minúsculas.
- `string.lower()`, `string.upper()`: Convierte los caracteres de la cadena en minúsculas o mayúsculas, respectivamente.

In [ ]:
# print e input
print("Hola mundo")
x = 10
print('El valor de x es', x)

In [ ]:
# Utiliza input para pedir el nombre del usuario. Después utilizar print para saludar al usuario por su nombre
a = input('Por favor ingrese un número')
print(a)

In [72]:
# Utiliza string.split() para dividir la siguiente frase en palabras. Saca el resultado por pantalla:
frase = "Hola Mundo Python"
palabras = frase.split()
print(palabras)

['Hola', 'Mundo', 'Python']

In [73]:
# Utiliza string.strip() para quitar los espacios al compienzo y final de la siguiente frase. Saca el resultado por pantalla:
cadena = "     Hola Mundo     "
cadena_limpia = cadena.strip()
print(cadena_limpia)

Hola Mundo

In [75]:
# Utiliza string.count(caracter) para contar el número de veces que aparecen la palabra tigre y el string tr 
# en la siguiente frase. Saca el resultado por pantalla:
frase = "tres tristes tigres comen trigo en un trigal, ¿qué triste tigre come más?"

n_tigre = frase.count('tigre')
print(f'La palabra tigre aparece {n_tigre} veces')

mini_word = 'tr'
n_tr = frase.count(mini_word)
print(f'La cadena de caracteres {mini_word} aparece {n_tr} veces')

La palabra tigre aparece 2 veces
La cadena de caracteres tr aparece 5 veces

In [76]:
# Utiliza string.replace(letra_original, letra_nueva) para reemplazar "Mundo" por "Python" en la siguiente frase. 
# Saca el resultado por pantalla:

frase = "Hola Mundo" 
frase.replace('Mundo', 'Python')
print(frase)

frase2 = frase.replace('Mundo', 'Python')
print(frase2)

frase = frase.replace('Mundo', 'Python')
print(frase)

Hola Mundo
Hola Python
Hola Python

In [78]:
# Ejemplos con string.isupper(), string.islower(), string.upper(), string.lower()
cadena = "Hello Hello"
is_mayus = cadena.isupper()
is_minus = cadena.islower()
print("Mayúculas:", is_mayus)
print("Minúsculas:", is_minus)
print(cadena.upper().isupper())
print(cadena.lower())

Mayúculas: False
Minúsculas: False
True
hello hello

In [ ]:
# Más ejemplos con string.isupper(), string.islower()
cadena2 = "HI"
cadena3 = "hola"
is_mayus2 = cadena2.isupper()
is_minus3 = cadena3.islower()
print("Mayúculas:", is_mayus2)
print("Minúsculas:", is_minus3)

## Ejercicios 
1. Escribir un programa que solicite al usuario su nombre y luego imprima un mensaje de saludo con su nombre.
1. Escribir un programa que tome una cadena como entrada y cuente el número de caracteres en la cadena.
1. Escribir un programa que tome una cadena como entrada y cuente el número de palabras en la cadena.
1. Escribir un programa que tome una cadena como entrada y devuelva una nueva cadena con los caracteres en orden inverso.
1. Escribir un programa que tome una cadena como entrada y verifique si es un palíndromo (se lee igual de adelante hacia atrás que de atrás hacia adelante).
1. Escribir un programa que tome una cadena como entrada y elimine los espacios en blanco al principio y al final de la cadena.
1. Escribir un programa que tome una cadena como entrada y cuente el número de veces que aparece una determinada letra en la cadena.
1. Escribir un programa que tome una cadena como entrada y reemplace todas las apariciones de una letra dada por otra letra.
1. Escribir un progama que tome dos cadenas, "Hola" y "Mundo", como entrada, y las concatene en una sola cadena, separadas por un espacio. Sacar el resultado por pantalla. 
1. Escribir un programa que tome la cadena "Hola Mundo mundo mundO" como entrada y reemplace la palabra "Mundo" y "mundo" por "Python". Imprimir la cadena resultante. 
1. Dada la frase "Buenos dias mundo", intercambie las palabras "dias" y "mundo".
   
## Ejercicios para casa
1. Escribir un programa que tome una cadena como entrada y cuente el número de letras mayúsculas y minúsculas en la cadena.
1. Escribir un programa que tome una cadena como entrada y cuente el número de dígitos en la cadena.